In [43]:
import pandas as pd
from dotenv import load_dotenv
import geopandas as gpd
import matplotlib.pyplot as plt
from operator import itemgetter
import seaborn as sns
from ipywidgets import interact
from wordcloud import WordCloud
from IPython.display import clear_output
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.ticker as mtick

csv = pd.read_csv("car_prices.csv")

In [4]:


@interact
def barplot(x = csv.drop(["make", "mileage", "price", "date"], axis=1).columns, y = csv[["mileage", "price"]].columns):
	
	clear_output(wait=True)
	df = csv.groupby(["make", x]).sum(["price", "mileage"])
	df.reset_index(inplace=True)
	df = df.pivot(index="make", columns=x, values=y)
	ax = df.plot(kind="bar", stacked=True, figsize=(10, 5), colormap="cividis")
	ax.yaxis.set_major_formatter(mtick.FuncFormatter(lambda x, pos: f"{x:.0f}"))
	plt.legend(loc='center left', bbox_to_anchor=(1.0, 0.5))
	plt.show()

interactive(children=(Dropdown(description='x', options=('model', 'year', 'color', 'state'), value='model'), D…

In [55]:
@interact
def wcplot(marca = csv["make"].unique()):
	clear_output(wait=True)
	texto = " ".join([mod for mod in csv[csv["make"]==marca]["model"]])
	wc = WordCloud(
		
		width=1500,
		height=1000,
		random_state=1,
		background_color="black",
		colormap="Blues_r",
		collocations=False
		
	).generate(text=texto)
	plt.imshow(wc)
	plt.axis('off')
	plt.show()

interactive(children=(Dropdown(description='marca', options=('Chevrolet', 'Toyota', 'Nissan', 'Ford', 'Honda')…

In [45]:
csv

,make,model,year,mileage,price,color,state,date
0,Chevrolet,Cruze,2011,99157,37488,white,TX,2023-09-26 23:02:01.647970
1,Toyota,Cruze,2017,19882,34176,red,IL,2023-08-08 23:02:01.648413
2,Chevrolet,Altima,2011,77718,40297,blue,CA,2023-02-25 23:02:01.648422
3,Nissan,Fusion,2012,83613,43492,silver,TX,2023-04-25 23:02:01.648425
4,Ford,Cruze,2016,95349,26655,red,NY,2023-12-14 23:02:01.648426
...,...,...,...,...,...,...,...,...
9995,Honda,Altima,2017,25154,43139,red,FL,2023-10-07 23:02:01.650165
9996,Chevrolet,Accord,2017,68264,15632,white,TX,2024-01-05 23:02:01.650166
9997,Nissan,Cruze,2016,17417,30832,silver,IL,2023-03-29 23:02:01.650168
9998,Honda,Accord,2011,68878,10801,blue,TX,2023-05-02 23:02:01.650170
9999,Chevrolet,Cruze,2010,99313,31827,black,CA,2023-08-13 23:02:01.650171